@import "./fonts.css";

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
  font-family: "PlayfairDisplay";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Font Classes - Start */

.playfairFont {
  font-family: "PlayfairDisplay" !important;
}

.interFont {
  font-family: "Inter" !important;
}

.rubikFont {
  font-family: "Rubik" !important;
}

/* Font Classes - End */

/* Margin Classes - Start */
@media only screen and (min-width: 0px) and (max-width: 600px) {
  .header_margin_mobile {
    margin-top: 105px;
  }
}
@media only screen and (min-width: 600px) {
  .header_margin_desktop {
    margin-top: 195px;
  }
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}
/* Margin Classes - End */
